@use "../global/variables" as *;

.breaker::after {
  content: "\A";
}

.breaker--tablet::after {
  @media (min-width: $tablet-width) {
    white-space: pre;
  }
}

.breaker--desktop::after {
  @media (min-width: $desktop-width) {
    white-space: pre;
  }
}
