@use "../global/variables" as *;

.button {
  display: block;
  border: 0;
  font: 700 21px/26px $font-primary;
  color: $color-secondary;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background-secondary;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px $background-primary,
      0 0 2px 4px $background-secondary;
  }

  &:hover {
    background-color: $background-secondary-hover;
    box-shadow: none;
    cursor: pointer;
  }

  &:active {
    color: fade-out($color-secondary, 0.7);
    background-color: $background-secondary-active;
    box-shadow: none;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: $color-secondary;
    pointer-events: none;
  }
}
