@use "../global/variables.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 40px;
  padding: 28.5px $padding-side 22.9px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: -6.5px;
  font: 700 21px/26px $font-primary;
  text-align: center;
  text-transform: uppercase;
  color: $color-primary-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__copyrights {
  @media (min-width: $tablet-width) {
    transform: translateX(-16px);
  }
}
