@use "../global/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 40px;
  padding: 28.5px $padding-side 22.9px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: -6.5px;
  font: 700 21px/26px $font-primary;
  text-align: center;
  text-transform: uppercase;
  color: $color-primary-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__copyrights {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  min-height: 35px;
  color: $color-primary-dark;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    transform: translateX(-16px);
  }

  &::after {
    display: block;
    width: 27px;
    height: 35px;
    background-color: $color-primary-dark;
    mask: url("../img/stack.svg#htmlacademy-logo") no-repeat center / cover;
    content: "";
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px $background-primary,
      0 0 2px 4px $background-secondary;
  }

  &:hover {
    color: $background-secondary;
    cursor: pointer;

    &::after {
      background-color: $background-secondary;
    }
  }

  &:active {
    color: fade-out($color-primary-dark, 0.7);

    &::after {
      background-color: fade-out($color-primary-dark, 0.7);
    }
  }
}
