@use "../global/variables" as *;

$column-shift: 14px;

.form {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    padding: 64px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 120px 64px;
  }
}

.form__modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: fade-out($color-primary-dark, 0.7);
}

.form__modal-overlay--opened {
  display: block;
}

.form__modal {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 101;
  width: 100%;
  max-width: 400px;
  padding: 45px 0 35px;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  background-color: $background-primary;
  box-shadow: 0 7px 15 rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    padding: 54px 0 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 0 49px;
  }
}

.form__modal--opened {
  display: block;
}

.form__modal-title {
  background-color: $background-primary;
  margin: 0;
  margin-bottom: 26px;
  padding: 0 41px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-primary-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding: 0 81px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.form__modal-message {
  padding: 0 41px;

  @media (min-width: $tablet-width) {
    padding: 0 46px;
  }
}

.form__modal-controls {
  margin-top: 28px;
  padding: 0 70px;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    padding: 0 64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
  }
}

.form__modal-button {
  width: 100%;
  padding: 18px 14px 14px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__modal--success {
  max-width: 640px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  .form__modal-message {
    @media (min-width: $tablet-width) {
      padding: 0 100px;
    }
  }

  .form__modal-controls {
    margin-top: 45px;
    padding: 20px;
    background-color: #f2f2f2;

    @media (min-width: $tablet-width) {
      margin-top: 52px;
      padding: 44px 91px;
    }
  }
}

.form__header {
  max-width: 435px;
  margin: 0 auto 24px;
  padding: 0 20px 28px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    margin-bottom: 105px;
    padding: 0;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form__heading {
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.form__header-text {
  margin: 0;
}

.form__title {
  margin-bottom: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    padding-left: $column-shift;
  }
}

.form__title--narrow {
  @media (min-width: 402px) {
    width: 402px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__title--radio {
  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    padding-right: $column-shift;
  }
}

.form__title--checkbox {
  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.form__field-group {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 20px 24px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    padding: 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 0;
  }
}

.form__field-group--is-column {
  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    grid-column: span 1;
    border-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form__field-group--is-column-left {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 15px;
    padding-right: 0;
  }
}

.form__field-group--is-column-right {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
    padding-left: 0;
  }
}

.form__field-group--is-column-left .form__control {
  @media (min-width: $tablet-width) {
    margin-right: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-right: (64px - $column-shift);
  }
}

.form__field-group--is-column-right .form__control {
  @media (min-width: $tablet-width) {
    margin-left: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-left: (64px + $column-shift);
  }
}

.form__field-group--is-column-left::after,
.form__field-group--is-column-left .form__title::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #d8d8d8;
    content: "";
  }

  @media (min-width: $desktop-width) {
    right: (0 - $column-shift);
  }
}

.form__field-group--radio {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 48px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 57px;
    margin-bottom: 73px;
    padding-left: 53px;
    padding-right: 39px;
  }
}

.form__field-group--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
    margin-bottom: 42px;
    padding-left: 84px;
    padding-right: 84px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 64px;
    margin-bottom: 87px;
    padding-left: 44.5px;
    padding-right: 44.5px;
  }
}

.form__button-group {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 33px 20px 24px;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1px 0 0;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;
  }
}

.form__control {
  display: block;
  margin-bottom: 16px;
}

.form__control:last-of-type {
  margin-bottom: 0;
}

.form__control-label {
  display: block;
  padding: 0 16px;
  text-transform: uppercase;
}

.form__control-input,
.form__control-textarea-field {
  display: block;
  width: 100%;
  padding: 16px;
  border: 0;
  font: 700 18px/26px $font-primary;
  color: $color-primary-dark;
  background-color: #f2f2f2;

  &::placeholder {
    color: fade-out($color-primary-dark, 0.7);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px $background-primary,
      0 0 2px 4px $background-secondary;
  }

  &:hover {
    background-color: #e5e5e5;
    box-shadow: none;
  }

  &:active {
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.form__control-input--has-icon {
  $icon-background: linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  background-repeat: no-repeat;

  &-phone {
    background-image: url("../img/stack.svg#icons_phone"), $icon-background;
    background-position: right 20px center, right center;
    background-size: 18px 18px, auto;
  }

  &-email {
    background-image: url("../img/stack.svg#icons_mail"), $icon-background;
    background-position: right 21px center, right center;
    background-size: 16px 12px, auto;
  }
}

.form__control-radio,
.form__control-checkbox {
  display: block;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__control-radio:last-of-type,
.form__control-checkbox:last-of-type {
  margin-bottom: 0;
}

.form__control-radio-label,
.form__control-checkbox-label {
  position: relative;
  display: block;
  padding: 10px 0 10px 62px;
  font: 700 18px/26px $font-primary;
  color: $color-primary-dark;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
  }

  &::before {
    background-color: #f2f2f2;
  }
}

.form__control-radio-label::before,
.form__control-radio-label::after {
  border-radius: 50%;
}

.form__control-checkbox-label::before,
.form__control-checkbox-label::after {
  border-radius: 4px;
}

.form__control-radio-input:checked ~ .form__control-radio-label::after {
  border: 15px solid transparent;
  background-color: $color-primary;
  background-clip: content-box;
}

.form__control-checkbox-input:checked ~ .form__control-checkbox-label::after {
  background-image: url("../img/stack.svg#icons_checkbox");
  background-size: 22px 16px, auto;
}

.form__control-radio-input:checked:active ~ .form__control-radio-label::after,
.form__control-checkbox-input:checked:active ~ .form__control-checkbox-label::after {
  opacity: 0.3;
}

.form__control-radio-input:focus ~ .form__control-radio-label::before,
.form__control-checkbox-input:focus ~ .form__control-checkbox-label::before {
  outline: none;
  box-shadow: 0 0 1px 2px $background-primary,
    0 0 2px 4px $background-secondary;
}

.form__control-radio:hover,
.form__control-checkbox:hover {
  cursor: pointer;
}

.form__control-radio:hover .form__control-radio-label::before,
.form__control-checkbox:hover .form__control-checkbox-label::before {
  background-color: #e5e5e5;
}

.form__control-radio:active .form__control-radio-label::before,
.form__control-checkbox:active .form__control-checkbox-label::before {
  background-color: #d5d5d5;
}

.form__control-textarea-field {
  max-width: 768px;
  height: 150px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 48px;
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.form__submit {
  display: block;
  width: 100%;
  padding: 16px;
}

.form__note {
  font-size: 12px;
  display: block;
  padding-top: 3px;
  text-align: right;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }
}
