@use "../global/variables" as *;

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  position: relative;
}

.gallery__item--wide {
  grid-column: 1/-1;
}

.gallery__picture {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 267px;
  }
}

.gallery__item--wide .gallery__picture {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.gallery__caption {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 15px 0 25px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 20px 15px;
    background: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 17px 25px;
    color: $color-secondary;
    background-color: rgba(0,0,0,0.3);
  }
}

.gallery__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 100px);
  }
}

.gallery__title {
  font-weight: 700;
  color: $color-primary-dark;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color: $color-secondary;
  }
}

.gallery__author {
  display: block;
}

.gallery__likes {
  margin: 0;
}
