@use "../global/variables" as *;
@use "sass:math";

.gallery {
  padding: 0 20px;

  @media (min-width: $tablet-width) and (max-width: 960px) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__header {
  width: 284px;
  margin: 0 auto;
  padding: 38px 4px 21px 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 458px;
    padding-top: 67px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 29px;
  }
}

.gallery__heading {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;

  @media (min-width: (math.div($tablet-width, 3) * 2)) {
    max-width: 648px;
    margin: 0 auto;
    border: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }

  @media (min-width: $tablet-width) {
    max-width: 800px;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
}

.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  border-top: 1px solid #e5e5e5;

  &:focus-within,
  &:hover {
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }
}

.gallery__link {
  text-decoration: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px $background-primary,
      0 0 2px 4px $background-secondary;
  }

  &:hover {
    box-shadow: none;
    opacity: 0.7;
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
    opacity: 0.4;
  }
}

.gallery__picture {
  display: block;
  width: auto;
  margin: 0 auto;
}

.gallery__caption {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 15px 0 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 20px 15px;
    background: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 19px 19px 16px 25px;
    color: $color-secondary;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__description {
  flex-shrink: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 90px);
  }
}

.gallery__title {
  display: block;
  font-weight: 700;
  color: $color-primary-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    max-height: 53px;
    margin-bottom: 2px;
    color: $color-secondary;
    overflow: auto;
  }
}

.gallery__author {
  display: block;

  @media (min-width: $desktop-width) {
    max-height: 33px;
    overflow: auto;
  }
}

.gallery__likes {
  flex-shrink: 0;
  display: flex;
  gap: 14px;
  margin: 0;
  padding-top: 4px;
  font-weight: 700;
  color: $color-primary-dark;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
    color: $color-secondary;
  }
}

.gallery__likes::before {
  flex-shrink: 0;
  width: 23px;
  height: 21px;
  background-color: $color-primary-dark;
  mask: url("../img/stack.svg#icons_like") center / cover;
  opacity: 0.3;
  transform: translateY(-4px);
  content: "";

  @media (min-width: $desktop-width) {
    background-color: $background-primary;
    opacity: 1;
  }
}

.gallery__item--wide {
  grid-column: 1/-1;

  .gallery__caption {
    @media (min-width: $desktop-width) {
      padding: 21px 20px 14px 21px;
    }
  }

  .gallery__likes {
    @media (min-width: $desktop-width) {
      padding-top: 11px;
    }
  }
}
