@use "../global/variables" as *;

.heading {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  color: $color-primary-dark;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.heading--big {
  @media (max-width: $mobile-width) {
    font-size: 21px;
  }
}
