@use "../global/variables.scss" as *;

.heading {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  color: $color-primary-dark;
  text-align: center;
  text-transform: uppercase;
}

.heading--big {
  font-size: 21px;
}
