@use "../global/variables" as *;

.intro {
  position: relative;
  background-color: fade-out($background-secondary, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../img/intro-background--mobile.jpg");
  padding: 90px 0 85px;
  clip-path: polygon(
    calc(50% + 600px) 0,
    calc(50% + 600px) calc(100% - 57px),
    calc(50% + 350.4px) calc(100% - 33.3px),
    calc(50% + 350.4px) calc(100% - 57px),
    50% 100%,
    calc(50% - 350.4px) calc(100% - 57px),
    calc(50% - 350.4px) calc(100% - 33.3px),
    calc(50% - 600px) calc(100% - 57px),
    calc(50% - 600px) 0
  );

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-background--mobile@2x.jpg");
  }

  @media (min-width: ($mobile-width + 1)) {
    background-image: url("../img/intro-background--tablet.jpg");
  }

  @media (min-resolution: 2dppx) and (min-width: ($mobile-width + 1)) {
    background-image: url("../img/intro-background--tablet@2x.jpg");
  }

  @media (min-width: ($tablet-width + 1)) {
    background-image: url("../img/intro-background--desktop.jpg");
  }

  @media (min-resolution: 2dppx) and (min-width: ($tablet-width + 1)) {
    background-image: url("../img/intro-background--desktop@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 77px 0 91px;
  }
}

.intro--small {
  padding: 52px 0 67px;

  @media (min-width: $tablet-width) {
    padding: 95px 0 117px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 0 120px;
  }
}

.intro__image {
  display: block;
  margin: 0 auto;
  width: 282px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 461px;
  }
}

.intro--small .intro__image {
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}
