@use "../global/variables" as *;

.intro {
  position: relative;
  background-color: fade-out($background-secondary, 0.4);
  background-repeat: no-repeat;
  background-size: 901px 389px;
  background-position: center bottom;
  background-image: url("../../img/intro-background.jpg");
  padding: 90px 0 85px;
  overflow: hidden;

  &::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background-image: url("../../img/intro-footer.svg");
    transform: translateX(-50%);
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding: 77px 0 91px;
    background-size: 1200px auto, 1200px auto;
  }
}

.intro__image {
  display: block;
  margin: 0 auto;
  width: 282px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 461px;
  }
}
