@use "../global/variables" as *;

.navigation {
  position: relative;
  z-index: 1;
  min-height: 56px;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  padding: 0;
  color: $background-secondary;
  background: none;
  box-shadow: none;
  transform: translateX(-50%);
  clip-path: polygon(
    0 0,
    100% 0,
    55% 100%,
    45% 100%
  );

  @media (min-width: $tablet-width) {
    z-index: 1;
    margin-bottom: -40px;
  }

  &:focus {
    outline: none;
    color: $background-secondary-hover;
    background: none;
  }

  &:hover {
    color: $background-secondary-hover;
    background: none;
    cursor: pointer;
  }

  &:active {
    color: $background-secondary-active;
    background: none;
  }
}

.navigation__logo-image {
  display: block;
}

.navigation__button {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 10;
  width: 23px;
  height: 22px;
  padding: 0;
  border: 0;
  background: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(
                      180deg,
                      transparent calc(50% - 2px),
                      $background-secondary calc(50% - 2px) calc(50% + 2px),
                      transparent calc(50% + 2px)
                    );

  &::before,
  &::after {
    position: absolute;
    right: 0;
    display: block;
    width: 23px;
    height: 4px;
    background: $background-secondary;
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px $background-primary,
      0 0 2px 4px $background-secondary;
  }

  &:hover {
    box-shadow: none;
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__button--close {
  background: none;

  &::before,
  &::after {
    top: 50%;
    left: 50%;
    width: 28px;
    background: $background-primary;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.navigation__list {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
}

.navigation__item {
  display: none;
  margin-bottom: 1px;
  font: 700 18px/26px $font-primary;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
    color: $color-primary-dark;
    box-shadow: none;

    &:focus-within {
      box-shadow: 0 0 1px 2px $background-primary,
        0 0 2px 4px $background-secondary;
    }
  }
}

.navigation__item:nth-child(2),
.navigation__item:nth-child(6) {
  @media (min-width: $tablet-width) {
    margin-right: 20%;
  }
}

.navigation__item--current {
  @media (min-width: $tablet-width) {
    color: #766357;
    pointer-events: none;
  }
}

.navigation__link {
  display: block;
  padding: 17px 50px 12px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background-secondary;
  box-shadow: 0 1px 0 fade-out($color-primary-dark, 0.8),
    0 1px 0 $background-secondary,
    inset 0 1px 0 fade-out($color-secondary, 0.8);

  &:focus,
  &:hover {
    outline: none;
    background-color: $background-secondary-hover;
    cursor: pointer;
  }

  &:active {
    color: fade-out($color-secondary, 0.7);
    background-color: $background-secondary-active;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: $color-secondary;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 10px 17px;
    background: none;
    box-shadow: none;

    &:focus {
      outline: none;
      background: none;
    }

    &:hover {
      color: $background-secondary;
      background: none;
      cursor: pointer;
    }

    &:active {
      color: fade-out($color-primary-dark, 0.7);
      background: none;
    }
  }
}

.navigation__item:first-child .navigation__link {
  @media (max-width: calc($tablet-width - 1px)) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
      0 1px 0 $background-secondary;
  }
}

.navigation__item:last-child .navigation__link {
  @media (max-width: calc($tablet-width - 1px)) {
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 7px;
    background-image: linear-gradient(
                        180deg,
                        fade-out($color-primary-dark, 1) 0%,
                        fade-out($color-primary-dark, 0.8) 100%);
    box-shadow: inset 0 1px 0 fade-out($color-secondary, 0.8);
  }
}

.navigation__list--opened .navigation__item {
  display: block;
}

.navigation--no-js {
  @media (max-width: ($tablet-width - 1)) {
    .navigation__button {
      display: none;
    }

    .navigation__list {
      position: static;
    }

    .navigation__item {
      display: block;
    }

    .navigation__logo {
      position: static;
      width: min-content;
      margin: 0 auto;
      transform: none;
    }
  }
}
