@use "../global/variables" as *;

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 400 14px/21px $font-primary;
  color: var(--font-color-base);
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.page__main {
  flex-grow: 1;
}
