.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 400 14px/21px var(--font-base);
  color: var(--font-color-base);
}

.page__main {
  flex-grow: 1;
}
