@use "../global/variables" as *;

.page {
  height: 100%;
  background-color: #f2f2f2;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 400 14px/21px $font-primary;
  color: $color-primary;
  background-color: $background-primary;

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.page__main {
  flex-grow: 1;
}
