@use "../global/variables" as var;

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 400 14px/21px var.$font-primary;
  color: var(--font-color-base);
  background-color: #ffffff;

  @media (min-width: var.$desktop-width) {
    max-width: var.$desktop-width;
    margin: 0 auto;
  }
}

.page__main {
  flex-grow: 1;
}
