@use "../global/variables.scss" as *;

.search-hotel {
  padding: 41px calc($padding-side / $mobile-width * 100%) 48px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 61px calc(155px / $tablet-width * 100%) 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 371px 67px;
  }
}

.search-hotel__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.search-hotel__button {
  width: 100%;
  margin-top: 33px;
  padding: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    padding-top: 14.5px;
    padding-bottom: 17.5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 49px;
  }
}
