@use "../global/variables" as *;

.video-presentation {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    padding: 0 60px;
  }

  @media (min-width: 960px) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.video-presentation__header {
  width: 284px;
  margin: 0 auto;
  padding: 17px 4px 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 445px;
    padding: 56px 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 0 73px;
  }
}

.video-presentation__title {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.video-presentation__main {
  position: relative;
}

.video-presentation__video {
  display: block;
  width: auto;
  margin: 0 auto;
}

.video-presentation__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 54px;
  border: none;
  background: $background-primary;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  clip-path: polygon(0 0, 100% 50%, 0 100%);

  &:focus {
    outline: none;
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}
