$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$padding-side: 18px;

$font-primary: "PT Sans", arial, tahoma, sans-serif;
$color-primary: #333333;
$color-primary-dark: #000000;
$color-secondary: #ffffff;

$background-primary: #ffffff;
$background-secondary: #81b3d2;
$background-secondary-hover: #669ec0;
$background-secondary-active: #5496bd;
