@use "global/variables";
@use "global/fonts";
@use "global/global";
@use "blocks/subheading";
@use "blocks/heading";
@use "blocks/button";
@use "blocks/breaker";
@use "blocks/advantages";
@use "blocks/footer";
@use "blocks/form";
@use "blocks/gallery";
@use "blocks/intro";
@use "blocks/location";
@use "blocks/navigation";
@use "blocks/page";
@use "blocks/search-hotel";
@use "blocks/social";
@use "blocks/video-presentation";
@use "blocks/visually-hidden";
